*{
	margin: 0px;
	padding: 0px;
	outline: 0;
	box-sizing: border-box;
	font-family: 'Gotham-Book', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB","Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
}

html,body{
	width: 100%;
	height: 100%;
}

body{
	/*background-color: rgba(16,16,16,0.95);*/
	background-color: rgb(16 16 16 / 88%);

			background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-blend-mode: multiply;
}

#login_main{
	float: left;
	width: 100%;
	height: 100%;
	background: url(https://cdn.jsdelivr.net/gh/podcdn/image/npm/img/index.jpg) rgba(0,0,0,.4);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-blend-mode: multiply;
	display: none;
}

#login {
	
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #00000000;
	width: 400px;
	height: 180px;
	border-radius: 12px;
}

.edit{
	margin-top: 8px;
	margin-left: 8px;
	padding: 4px;
	background-color: #FFF;
	
}

input, button{
	border: none;
}

#log{
	margin-top: 30px;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 30px;
	background-color: #e2e2e2;
	border-radius: 4px;
}

.user{
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	height: 40px;
	border-radius: 8px;
	background-color: #FFF;
}

.key{
	margin-top: 16px;
	margin-left: 50px;
	margin-right: 50px;
	height: 40px;
	border-radius: 8px;
	background-color: #FFF;
}
.username,.password{
width: 120px;
margin-left: 4px;
}	


@media screen and (max-width: 416px) {
#login {
	width: 94%;
}
}

#tip {
	visibility:hidden;
	width:250px;
	border:1px solid #000000ba;
	text-align:center;
	padding:10px;
	background: #000000ba;
	color:white;
	border-radius:10px;
	line-height:40px;
	position:absolute;
	bottom:30px;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	font-size: 14px;
}

#tip.show {
	visibility:visible;
	animation: fadein 3s, fadeout 0.5s 2.5s;
}



@keyframes fadein {
  from{opacity:0;bottom:0;}
  to{opacity:1;bottom:30px;}
}


@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}


@keyframes rotateSmall {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotateLarge {
  0% {
    clip-path: inset(0px 30px 30px 0px);
    -webkit-clip-path: inset(0px 30px 30px 0px);
  }
  50% {
    clip-path: inset(0px 150px 150px 0px);
    -webkit-clip-path: inset(0px 150px 150px 0px);
  }
  100% {
    transform: rotate(1turn);
    clip-path: inset(0px 30px 30px 0px);
    -webkit-clip-path: inset(0px 30px 30px 0px);
  }
}

@keyframes animateHex {
  0% {
    transform: scale(1.02);
  }
  20%,
  50% {
    transform: scale(0.6);
    opacity: 0;
  }
  65% {
    transform: scale(1.02);
    opacity: 1;
  }
}





#video_list
{
	display: none;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}




header{
position: relative;
background-color: #212121;
height: 50px;
width: 100%;
-webkit-box-shadow: box-shadow: 0 1px 4px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 4px 1px rgba(0,0,0,.05);
}


.menu{
	font-size: 20px;
	float: left;
	color: #b7b5b7;
}

.search{
	font-size: 20px;
	color: #b7b5b7;
	float: right;
}

.me{
	font-size: 20px;
	color: #b7b5b7;
	float: right;
}

.logo{
	float: left;
	width: calc(100% - 100px);
	text-align: center;
	margin-top: 4px;
}


main{
	position: absolute;
	height: calc(100% - 50px);
	overflow-x:hidden;
}

main::-webkit-scrollbar {
                display: none;
            }
@media screen and (max-width:768px ) {
 body{
 background-color: rgba(16,16,16,0.95);
 }
 .menu{
	 display: block;
 }
}

.menulist{
	display: block;
	float: left;
	margin-left: 10px;
	height: 100%;
	width: calc(100% - 180px);
	z-index: 998;
}

.search a{
	color: #b7b5b7;
	text-align:center;
	line-height: 46px;
	display: inline-block;
	width: 50px;
	height: 50px;
}

a{
	text-decoration: none;
}

.me{
	color: #b7b5b7;
	text-decoration: none;
	text-align:center;
	line-height: 46px;
	display: inline-block;
	width: 50px;
	height: 50px;
}

.menu a{
	color: #b7b5b7;
	text-align:center;
	line-height: 48px;
	display: inline-block;
	width: 50px;
	height: 50px;
}


.menulist .link{
	text-decoration: none;
	color: #bbb8b8;
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	height: 100%;
	line-height: 48px;
}

.searchview{
	display: none;
	position:absolute;
	top: 50px;
	width: 200px;
	height: 50px;
	background-color: #353535;
	color: rad;
	left: calc(100% - 200px);
	z-index: 999;
}



.menulist a:hover{
	background-color: #353535;
}


.search a:hover{
	background-color: #353535;
}

.menu a:hover{
	background-color: #353535;
}


@media screen and (min-width: 1800px){
	#video_list,main{
		width: 1300px;
	}
	#v li{
		width: 25%;
	}
}


@media screen and (max-width: 1800px){
	#video_list,main{
		width: 1300px;
	}
	#v li{
		width: 25%;
	}
}
@media screen and (max-width: 1400px){
	#video_list,main{
		width: 970px;
	}
	#v li{
		width: 25%;
	}
}

@media screen and (max-width: 980px){
	#video_list,main{
		width: 672px;
	}
	#v li{
		width: 50%;
	}
}

@media screen and (max-width: 671px){
	#video_list,main{
		width: 100%;
	}
	
	#v li{
		width: 100%;
	}
	.menulist{
		position: absolute;
		top: 50px;
		height: calc(100vh - 50px);
		width: 200px;
		margin: 0;
		background-color: #252525;
		left: -1000px;
	}
	.menulist .link{
		height: 50px;
		width: 100%;
		padding: 0;
		text-align:center;
		border-bottom:1px solid #1d1d1d;
	}
	
	.me{
		float: left;
		width: 100%;
		height: 50px;
		border-bottom:1px solid #1d1d1d;
	}
	
	
	.search{
		float: left;
	}
}

@media screen and (max-width: 250px){
	.menulist{
		width: 100%;
	}
	.logo img
	{
		display: none;
	}
	
	.searchview{
		left: 0px;
		width: 100%;
	}
}



@media screen and (min-width: 672px){
	 .menu{
	 display: none;
	}
	.logo{
		width: auto;
		margin-left: 8px;
	}
}


#keywords{
	border: 0;
	width: calc(100% - 64px);
	height: 34px;
	background-color: #212121;
	margin-top: 8px;
	margin-left: 8px;
	color: #fff;
	padding-left: 8px;
	padding-right: 8px;
}

#sb{
	height: 34px;
	width: 40px;
	background-color: #4c4b4b;
	color: #afafaf;
}

#sb:hover{
	background-color: #6b6b6b;
}

#loading{
	width: 100%;
	height: 2px;
	position:absolute;
	top: 50px;
	background-size:4px 4px;
	background-image:linear-gradient(135deg,#353535 0%,#353535 25%,#656565 25%,#656565 50%,#353535 50%,#353535 75%,#656565 75%,#656565 100%);
	animation:move 1s linear infinite;
}

@keyframes move {
    
	0% {
	}100% {
	background-position:32px 0;
}
}




li{
	
	float: left;
	list-style-type:none;
}



.mv{
	
	background-color: #212121;
	margin-right: 8px;
	margin-left: 8px;
	margin-top: 16px;
	box-shadow:2px 2px 5px #151515;
	border-radius:4px;
	overflow: hidden;
}
/*
.mv:hover{
	transform:translate(0,-4px);
	-moz-transform:translate(0,-4px);
}
*/

.mv>a:hover{
	color: #fff;
}


.mv>a{
	font-size: 12px;
	color: #cacaca;
}


#v li img{
	width: 100%;
	height: 56%;
	float: left;
}

#v li span{
	display:block; 
	width: 100%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding: 8px;
	font-weight: 600;
}

#v li i{
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 4px;
	padding-bottom: 12px;
}

#v p{
	float: left;
	width: 50%;
	color: #666666;
}

.vview{
	text-align: right;
	padding-right: 8px;
}

.thumb{
	float: left;
	width: 100%;
	height: 56%;
}

.mea{
	display: block;
	float: left;
	color: #d4d4d4;
	line-height: 24px;
	text-align: center;
	width: 32px;
	height: 24px;
	font-size: 16px;
	font-weight: 600;	
	border-right:1px solid #4c4b4b;
	background-color: #464646;
}

.aplus{
	width: 120px;
}


.bla{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.bra{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-right: 0;
}

.mea:hover{
	background-color: #585858;
}

#page{
	margin-left: calc(50% - 124px);
	border-radius: 4px;
}

.videolist{
	float: left;
	width: 100%;
	min-height: calc(100% - 88px);
}

#pkx{
	float:left; 
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
}
